.margin{width: 1000px;margin:0 auto;}

/* 搜索栏 */
#search{ height: 85px; background: #F8F1e9;}
#search .left{height: 85px; float: left;}
#search .left img{margin-top: 10px;}
#search .left span{display: inline-block; line-height: 85px;}
#search .right{ float: right; }
#search .right .top{ margin-top: 25px;}
#search .right .top span{float: left; margin-top: 6px;}
#search .right .top .txt{width: 190px; height: 24px; padding: 0 10px;}
#search .right .top .sub{ height: 24px; }
#search .right .bottom{float: left; margin-top: 8px;}
#search .right .bottom ul li{ float: left; margin: 0 5px;}

/* 导航栏 */
#nav{ height:32px; background: #CFBF70;}
#nav ul{display: flex; justify-content:space-between;}
#nav ul li a{ font: 14px/32px ""; color: #fff; padding: 0 10px;}
#nav ul li:hover{background: #EE9747;}

#margin{width:1000px;margin-top:10px;position: relative;}
#margin #move{width:192px;height:552px;float:left;}
#margin #move .moveTop{width:190px;height:32px;background:#CFBF70;}
#margin #move .moveTop h3{color:#fff;font:16px/32px "";padding-left:8px;}
#margin #move .center{width:190px;height:224px;margin-top:10px;}
#margin #move .center .centerD{width:190px;height:32px;background:#CFBF70;border:none}
#margin #move .center h4{font:16px/32px "";color: #fff;padding-left:8px;}
#margin #move .center .centerMissage{width:189px;height:190px;border:1px solid #ccc;}
#margin #move .center .centerMissage p{font:12px/24px "";color: #000;padding:4px 0 0 8px;;}

#margin #move .bottom{width:190px;height:292px;margin-top:10px;}
#margin #move .bottom .bottomD{width:190px;height:32px;background:#CFBF70;border:none}
#margin #move .bottom h4{font:16px/32px "";color: #fff;padding-left:8px;}
#margin #move .bottom .bottomMissage{width:189px;height:260px;border:1px solid #ccc;}
#margin #move .bottom .bottomMissage p{font:12px/24px "";color: #000;padding:4px 0 0 8px;;}
#margin #move .bottom .bottomMissage .bottomMissageS{font:14px/30px "";}
#margin #move .bottom .bottomMissage p:hover{color:red;}

#margin #shopin{width:800px;float:right;}
#margin #shopin #whole{height:90px;}
#margin #shopin #whole .top{float: left;border:1px solid #ccc;border-bottom:none;}
#margin #shopin #whole  span{font:14px/29px "";float: left;width:100px;text-align:center;background:#bbb;color:#666;}
#margin #shopin #whole  p{float: left;}
#margin #shopin #whole  a{font:12px/29px "";background:#EE9747;color:#fff;margin:0 10px;}
#margin #shopin #whole .top .topDJ{width:618px;float: left;}
#margin #shopin #whole .top .topDJ i{display:block;font:12px/29px "";color:#666;float: left;}
 
#margin #shopin #whole .center{float: left;border:1px solid #ccc;border-bottom:none;}
#margin #shopin #whole .center .centerS{float: left;width:618px;}
#margin #shopin #whole .center .centerS i{display:block;font:12px/29px "";color:#666;float: left;padding-right:35px;}

#margin #shopin #whole .bottom{float: left;border:1px solid #ccc;}
#margin #shopin #whole .bottom .bottomP{float: left;width:618px;}
#margin #shopin #whole .bottom .bottomP i{display:block;font:12px/29px "";color:#666;float: left;padding-right:55px;}


#margin #shopin #more{width:324px;border:1px solid #ccc;text-align: center;position: absolute;;right:270px;top:87px;background: #fff;border-top:none;}
#margin #shopin #more a{font:12px/20px "";color:#666;}



#margin #barrier{height:65px;width:770px;margin-top:40px;}
#margin #barrier .top{width:770px;height:30px;background:#F7F7F7;border-bottom:1px solid #EE9747;float: left;}
#margin #barrier .top ul li{float: left;font:12px/30px "";padding:0 10px;}
#margin #barrier .top ul li.te{background:#EE9747;}
#margin #barrier .top ul li:hover{color:red;}
#margin #barrier .top .topRight{float:right;width:200px;}
#margin #barrier .top .topRight input{width:15px;height:15px;color: #fff;float: right;background:#e7e7e7;border:none;margin-top:8px;}
#margin #barrier .top .topRight span{float: left;font:12px/30px "";padding-left:10px;color: red;}
#margin #barrier .top .topRight  p{float: right;;font:12px/30px "";padding:0 5px;}

#margin #barrier .bottom{width:770px;height:32px;border:1px solid #e7e7e7;float: left;}
#margin #barrier .bottom input{float: left;margin-top:3px;}
#margin #barrier .bottom .checkbox{margin-top:12px;}
#margin #barrier .bottom span{float: left;font:12px/32px "";color:#666;}
#margin #barrier .bottom span:hover{color:#EE9747;}
#margin #barrier .bottom p{float: left;font:12px/32px "";padding:0 10px;}
#margin #barrier .bottom .user{float: left;width:40px;height:22px;}
#margin #barrier .bottom i{float: left;font:13px/32px "";padding:0 4px;}
#margin #barrier .bottom .pass{float: left;width:38px;height:26px;margin-left:20px;background:#e7e7e7;border:none;}


#margin .cont{height:4476px;width:800px;overflow: hidden;overflow: hidden;}
#margin .cont .box{float:left;width:250px;height:360px;border:2px solid #e7e7e7;margin:3px;text-align: center;}
#margin .cont .box img{width:200px;height:200px;margin-top:4px;}
#margin .cont .box p{font:12px/20px "";color:#666;width:220px;}
#margin .cont .box p:hover{color:red;}
#margin .cont .box span{font:13px/20px "";width:220px;display:block;color:red;margin:5px 0;}
#margin .cont .box input{width:100px;font:12px/22px "";color:#fff;background:#EE9747;text-align: center;border:none;}











