.margin{width: 1263px;margin:0 auto;}


#notes{height:40px;width:1000px;}
#notes .te1{font:13px/30px "";background: #F3B083;color:#fff;}
#notes span{font:13px/30px "";color:#fff;background:#666;} 


#shopping{height:500px;width:1000px;}
#shopping .top .topL{height:86px;width:1000px;background:#e7e7e7;margin-bottom:5px;}
#shopping .top .topL ul li{float: left;width:60px;text-align: center;font:14px/86px "";}
#shopping .top .topL ul .jiage{ margin: 0 58px;}
#shopping .top .topL ul .shuliang{margin: 0 22px;}
#shopping .top .topL ul .caozuo{margin: 0 10px;}
#shopping .top .topL ul .xiaoji{margin: 0 10px;}



#shopping .top .topL ul li.p{width:340px;text-align: center;padding:0 140px 0 20px;}
#shopping table{width:1000px;text-align: center;float: left;}
#shopping table tbody tr{font:14px/80px "";background:#e7e7e7;}
#shopping table tbody tr td img{width:60px;height:60px;float: left;}
#shopping table tbody tr td p{font:12px/20px "";width:150px;float: left; margin-left: 85px;}
#shopping table tbody tr td .number{width:60px;}
/* #shopping table tbody tr td s{width:60px; display: block; border: 1px solid black;height: 30px;} */
#shopping table tbody tr .l{width: 80px;}
#shopping table tbody tr span{ margin: 0 0 0 0;}


#shopping .bottom{width:1000px;height:70px;background:#999;}
#shopping .bottom .bottomL{float: left;}
#shopping .bottom .bottomL span{font:12px/20px "";color:#99f;} 
#shopping .bottom .bottomR{float:right;padding-top:20px;}
#shopping .bottom .bottomR span{display:block;font:12px/20px "";color:#666;float: left;padding-top:20px;} 
#shopping .bottom .bottomR .bottomRL{width:50px;margin:0 5px;}
#shopping .bottom .bottomR input{float:left;width:60px;height:42px;background:red;font:16px/42px "";color:#fff;border:none;}
