.margin{width: 1263px;margin:0 auto;}


header{height:26px;background: lightgray;}
header .header{width:1000px;}
header .header .header-a{width:300px;float:left;margin-left:80px;}
header .header .header-a a img{width:20px;height:20px;padding:4px 10px 0 ;}
header .header .header-b{width: 400px;float: right;}
header .header .header-b a{font:12px/26px "";}


#logo{height:90px;width:1000px;}
#logo .logo-a{width:300px;height:90px;float: left;}
#logo .logo-a img{width:288px;height:50px;}
#logo .logo-b{width:480px;float: right;;height:50px;margin-top:20px;}
#logo .logo-b ul li{float:left;width:148px;font:13px/28px "";background:#e7e7e7;color: #fff;border-radius:50%;text-align: center;margin:4px}
#logo .logo-b ul li:hover{background:red;}



#te{height:40px;width:1000px;}
#te .te1{font:13px/30px "";background: #F3B083;color:#fff;}
#te span{font:13px/30px "";color:#fff;background:#666;}



#shopin{height:500px;width:1000px;}
#shopin .shopin-a .shopin-a-1{height:86px;width:1000px;background:#e7e7e7;margin-bottom:5px;}
#shopin .shopin-a .shopin-a-1 ul li{float: left;width:100px;text-align: center;font:14px/86px "";}
#shopin .shopin-a .shopin-a-1 ul li.p{width:340px;text-align: center;padding:0 140px 0 20px;}
#shopin table{width:1000px;text-align: center;float: left;}
#shopin table tbody tr{font:14px/80px "";background:#e7e7e7;}
#shopin table tbody tr td img{width:60px;height:60px;float: left;}
#shopin table tbody tr td p{font:12px/20px "";width:150px;float: left;}
#shopin table tbody tr td .number{width:60px;}




#shopin .shopin-c{width:1000px;height:70px;background:#e7e7e7;}
#shopin .shopin-c .shopin-c-1{float: left;}
#shopin .shopin-c .shopin-c-1 span{font:12px/20px "";color:#666;} 
#shopin .shopin-c .shopin-c-2{float:right;padding-top:20px;}
#shopin .shopin-c .shopin-c-2 span{display:block;font:12px/20px "";color:#666;float: left;padding-top:20px;} 
#shopin .shopin-c .shopin-c-2 .shopin-c-2-1{width:50px;margin:0 5px;}
#shopin .shopin-c .shopin-c-2 input{float:left;width:60px;height:42px;background:red;font:16px/42px "";color:#fff;border:none;}



footer{height:144px;width:1000px;}
footer .footer-a{height:28px;text-align: center;}
footer .footer-a a{font:13px/28px "";color:#666;}
footer .footer-a span{padding:0 5px;}
footer .footer-b{height:18px;margin:10px 0 ;text-align: center;}
footer .footer-b span{font:14px/18px "";color:#666;}
footer .footer-c{height:48px;padding-left:240px;}
footer .footer-c img{float: left;margin:0 5px;}








































































































